<div ng-controller="eu as e" style="display: flex; -ms-flex-wrap: wrap;-webkit-flex-wrap: wrap;
flex-wrap: wrap;justify-content: center; width:100%; overflow:auto; padding-top: 20px; padding-bottom:200px;">
    <div class="folha">
        <div class="cTitle T1"> Tome Nota</div>
        <hr />
        <ul>
            <li class="ccorpo" ng-repeat="tip in e.tips">
                {{tip}}
                <br />
                <hr />
            </li>
        </ul>
        <br />
        <div class="cTitle T2"> Divirtam-se</div>
    </div>
</div>
