@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Hack</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
    <div class="header">
        <h1>Dicas para o Imagine!</h1>
    </div>
    <div class="pagina">
        <h2>As Ferramentas</h2>
        <div class="linha">
            <div class="bloco1">
                <h2>Plataforma</h2>
                <div class="titulo">
                    <h3>ASP.NET</h3>
                </div>
                <div><img src="" alt="" /></div>
                <div class="corpo">
                    Eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum velit mollis odio sollicitudin lacinia aliquam posuere, sapien elementum lobortis tincidunt, turpis dui ornare nisl, sollicitudin interdum turpis nunc eget sem nulla eu ultricies orci praesent id augue nec lorem pretium congue sit amet ac nunc fusce iaculis lorem eu.
                </div>
            </div>
        </div>
        <div class="linha">
            <h2>IDE's</h2>
            <div class="bloco2">
                <div class="titulo">
                    <h3>Visual Studio</h3>
                </div>
                <div><img src="" alt="" /></div>
                <div class="corpo">
                    Eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum velit mollis odio sollicitudin lacinia aliquam posuere, sapien elementum lobortis tincidunt, turpis dui ornare nisl, sollicitudin interdum turpis nunc eget sem nulla eu ultricies orci praesent id augue nec lorem pretium congue sit amet ac nunc fusce iaculis lorem eu.
                </div>
            </div> 
            <div class="bloco2">
                <div class="titulo">
                    <h3>Visual Studio Code</h3>
                </div>
                <div><img src="" alt="" /></div>
                <div class="corpo">
                    Eget lorem nulla condimentum tempor mattis ut vitae feugiat augue cras ut metus a risus iaculis scelerisque eu ac ante fusce non varius purus aenean nec magna felis fusce vestibulum velit mollis odio sollicitudin lacinia aliquam posuere, sapien elementum lobortis tincidunt, turpis dui ornare nisl, sollicitudin interdum turpis nunc eget sem nulla eu ultricies orci praesent id augue nec lorem pretium congue sit amet ac nunc fusce iaculis lorem eu.
                </div>
            </div>
        </div>
        <div class="linha">
            <h2>3rd Party Libs</h2>
            <div class="bloco4">

            </div>
       
            <div class="bloco4">

            </div>
            <div class="bloco4">

            </div>
            <div class="bloco4">

            </div>
        </div>
    </div>
</body>
</html>