@-we-palette{

    @global{
        color: #FF5722;
        color: #9C27B0;                
        color: #673AB7;
        color: #E64A19;
        color: #7B1FA2;
        color: #512DA8;
        color: #32409F;
        color: #222222;
        color: #FFC107;
        color: #333333;
        color: #FFA000;
        color: #666666;
        color: #777777;
        color: #999999;
        color: #AAAAAA;
        color: #BBBBBB;
        color: #CCCCCC;
        color: #DDDDDD;
        color: #E8E8E8;
        color: #EEEEEE;
        color: #F5F5F5;
        color: #F9F9F9;
        color: #FFFFFF;
    }
}